div.connect {
  font-family: Tahoma, Arial, sans-serif;

  & h1 {
    display: flex;
    justify-content: space-between;

    & span {
    }
  }

  & section {
    display: flex;
    justify-content: center;

    &.control {
    }
    &.board {
      left: calc(50% - 245px);
    }
  }
}
