div.connect {
  font-family: Tahoma, Arial, sans-serif;

  & h1 {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;

    & span {
      margin: 0 10px;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 50%);

      &.reset:hover {
        text-decoration: underline;
      }
    }
  }

  & section {
    display: flex;
    justify-content: center;

    &.control {
    }
    &.board {
      left: calc(50% - 245px);
    }
  }
}
