
<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
<div class="connect">
  <h1>
    Connect {{ connectionLength }}
  </h1>
  <section class="control">
    <app-control
      [boardWidth]="boardWidth"
      [boardHeight]="boardHeight"
      [tokenGrid]="tokenGrid"
      [player]="currentPlayer"
      [gameOver]="gameOver"
      (buttonClickedEvent)="registerClick($event)"
    ></app-control>
  </section>
  <section class="board">
    <app-board
      [boardWidth]="boardWidth"
      [boardHeight]="boardHeight"
      [tokenGrid]="tokenGrid"
    ></app-board>
  </section>
  <h2>
    <span *ngIf="gameOver && winner !== noWinner"
      >{{ currentPlayer }} wins in {{ turnCount }} turns!</span
    >
    <span *ngIf="gameOver && winner === noWinner">No one wins.</span>
    <span
      class="reset"
      *ngIf="gameOver"
      (click)="resetGame()"
      [ngStyle]="{ cursor: 'pointer' }"
      >Reset</span
    >
    <span *ngIf="!gameOver">Turn: {{ currentPlayer }}</span>
  </h2>
</div>
