$board-color: #003b6f;
$board-highlight: #104c80;
$board-lowlight: #002c53;

section {
  border-top: 6px solid $board-highlight;
  border-right: 6px solid $board-lowlight;
  border-bottom: 6px solid $board-lowlight;
  border-left: 6px solid $board-highlight;
  border-radius: 3px;
  
  & ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;

    & ul {
      display: flex;
      flex-direction: column;
      position: relative;

      & li {
        &.board {
          position: relative;
          z-index: 1;

          & .cell {
            position: relative;
            width: 70px;
            height: 70px;
            margin: 0;
            text-align: center;
            overflow: hidden;

            &:after {
              content: "";
              position: absolute;
              left: 10px;
              top: 10px;
              border-radius: 50%;
              width: 50px;
              height: 50px;
              box-shadow: 0px 0px 0px 25px $board-color;
            }
          }
        }
        &.token {
          position: absolute;
          z-index: 0;
          left: 10px;
          width: 50px;
          height: 50px;
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2) inset;

          &.player1 {
            background-color: #ff0;
          }
          &.player2 {
            background-color: #f00;
          }
          &.win:after {
            background-color: #000;
            content: "";
            position: absolute;
            left: 17px;
            top: 17px;
            border-radius: 50%;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
